.row
  .tab-first-column
    .subnav-config
      h2 Subnav Link Configuration
      .row
        label.subnav-label(for="path") Subnav Path:
        input.subnav-input(data-mz-subnav="path" name="path")
      .row
        label.subnav-label(for="href") Subnav Href:
        input.subnav-input(data-mz-subnav="href" name="href")
      .row
        label.subnav-label(for="modalWindowTitle") Subnav Modal Window Title:
        input.subnav-input(data-mz-subnav="modalWindowTitle" name="modalWindowTitle")
        button(class="mz-button" name="resetSubnav" type="button" id="resetSubnav") Change Subnav Settings
    