doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css')
    link(rel='stylesheet', href='/stylesheets/mozu.css')
  body
    block content
    include ./trailing-scripts.jade
    block additionalJavascript 
  